
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_NotApproved.cshtml";
}
@if (ViewBag.Error == 1)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.MSG
    </div>
}
<h4>Change Password</h4>
<br />
<form action="" method="post">
    <div class="mb-3">
        <label class="form-label">Enter new password</label>
        <input type="password" value="" name="password" class="form-control" id="" />
        <input type="hidden" value="@Session["email"].ToString()" name="email" />
    </div>
    <div class="mb-3">
        <input type="submit" value="Change Password" class="btn btn-primary btn-block" />

    </div>
</form>
