@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<a href="/home/whotosignup" class="btn btn-outline-dark">Join with us</a>&nbsp;&nbsp;
<a href="/home/login" class="btn btn-outline-dark">Login</a> <br /> <br />
&copy; Zero Hunger - @DateTime.Now.ToString("yyyy")
