@model ProjectTest.Models.UserModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPage.cshtml";
}
@if (ViewBag.Error== 1)
{
    <div class="alert alert-danger" role="alert">
        ViewBag.ErrorMessage
    </div>
}


<form class="forms-sample" action="" name="LoginForm" method="post">
    <div class="mb-3">
        <label for="userEmail" class="form-label">Username</label>
        <input type="text" class="form-control" id="userEmail" placeholder="Username" name="Username"
               value="">
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="userPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="userPassword" autocomplete="current-password" placeholder="" name="Password">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="remember" value="rem" id="authCheck">
        <label class="form-check-label" for="authCheck">
            Remember me
        </label>
    </div>
    <div>
        <input type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white" value="Login"> <br />

    </div>
    <a href="@Url.Action("WhoToSignUp","Home")" class="d-block mt-3 text-muted">Not a user? Sign up</a>
</form>

