
@{
    ViewBag.Title = "NotApproved";
    Layout = "~/Views/Shared/_NotApproved.cshtml";
}

<h6>Your join request have not been approved yet. Please keep an eye on your email for update.</h6> <br />
<a href="@Url.Action("Login","Home")">Go Back to login page</a>

